* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #808080;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.checkout, .header-input {
    width: 387px;
}

.checkout a {
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    font-weight: 500;
}

.checkout a:first-child {
    padding-right: 20px;
}

.header-input {
    position: relative;
    display: flex;
    align-items: center;
}

.input-search {
    border: none;
    height: 38px;
    width: 227px;
    padding: 0 35px 0 20px;
    border-radius: 19px;
    background-color: #EDEDED;  
    margin-right: 30px;
}
.input-search::placeholder {
    color: #DBDBDB;
}

.input-svg {
    position: absolute;
    top: 7px;
    right: 175px;
}

.header-account {
    color: #808080;
    padding-left: 11px;
}

.container {
    max-width: 1728px;
    margin: 0 auto;
}

.nav-bar {
    background-color: #66BA02;
}

.nav-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    display: inline-block;
    padding: 20px 25px;
    line-height: 17px;
    color: white;
    font-weight: 700;
    transition: .6s;
}

.menu-list:hover {
    background-color: #333333;
}

.hero {
    height: 724px;
    background: url("../images/image 159.png") no-repeat center/cover;
    margin-bottom: 84px;
}
.form-label {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
}
.form-label:before {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 2px solid #66BA02;
    left: -51px;
    background: #FFFFFF;
}
.form-input {
    padding: 41px 50px;
    border: 2px solid #EDEDED;
    width: 100%;
    margin-bottom: 100px;
}
.custom-label {
    margin-bottom: 30px;
}
.form-input::placeholder {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #DBDBDB;
    font-family: 'Montserrat', sans-serif;
}
textarea[class='form-input'] {
    margin-bottom: 50px;
}
.custom-checkbox {
    display: none;
}
.custom-checkbox-row {
    margin-left: 29px;
}
.custom-label {
    position: relative;
    padding-left: 37px;
}
.custom-label:before {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    border: 2px solid #66BA02;
    border-radius: 50%;
    left: 0;
}
.custom-label:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background: #66BA02;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    opacity: 0;
    transition: .6s;
}
.custom-checkbox:checked + .custom-label:after {
    opacity: 1;
}
.form-notification {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 29px;
}
.contacts {
    padding: 0 0 100px;
}
.captcha {
    margin-bottom: 50px;
}
.form-btn {
    margin: 50px 0 163px 29px;
    border: none;
    background: #66BA02;
    height: 58px;
    padding: 0 111px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.6s;
}
.form-btn:hover {
    background-color: lime;
    color: black;
}
.form-content {
    position: relative;
}
.form-content:before {
    content: '';
    position: absolute;
    height: 100%;
    background: #EDEDED;
    width: 2px;
    left: -37px;
    top: 0;
}
.footer {
    background: url("../images/Footer img.png") no-repeat bottom center/cover;
    margin: 15px 0 0;
    padding: 51px 0 17px;
}

.footer-logo {
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 465px;
    display: flex;
}

.left-side a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    padding-right: 80px;
}
.right-side {
    display: flex;
}
.right-side a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    padding-left: 80px;
}

.footer-copyright {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #808080;
    padding-top: 15px;
    font-weight: 400;
}