* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #808080;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

::placeholder {
    color: #DBDBDB;
}

.checkout,
.header-input {
    width: 387px;
}

.checkout a {
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    font-weight: 500;
}

.checkout a:first-child {
    padding-right: 20px;
}

.header-input {
    position: relative;
    display: flex;
    align-items: center;
}

.input-search {
    border: none;
    height: 38px;
    width: 227px;
    padding: 0 35px 0 20px;
    border-radius: 19px;
    background-color: #EDEDED;
    font-size: 14px;
    margin-right: 30px;
}

.input-svg {
    position: absolute;
    top: 7px;
    right: 175px;
}

.header-account {
    color: #808080;
    padding-left: 11px;
}

.container {
    max-width: 1728px;
    margin: 0 auto;
}

.nav-bar {
    background-color: #66BA02;
}

.nav-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    display: inline-block;
    padding: 20px 25px;
    line-height: 17px;
    color: white;
    font-weight: 700;
    transition: .6s;
}

.menu-list:hover {
    background-color: #333333;
}

.hero {
    height: 724px;
    background: #e5e5e5 url("../images/image 159.png") no-repeat center/cover;
}

.info {
    background-color: #E5e5e5;
    padding-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 .row {
    margin: 0 15px;
    background-color: #fff;
}

.col-5 {
    width: 40%;
}

.col-7 {
    width: 60%;
}

.col-6 {
    width: 50%;
    margin-bottom: 100px;
}

.info-content {
    background: url("../images/image 161.png") no-repeat bottom center/cover;
    display: flex;
}

.info-img {
    height: 426px;
}

.info-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.info-item {
    width: 496px;
    height: 426px;
    padding-left: 30px;
}

.info-item img {
    padding: 20px 0 29px;
}

.info-item-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: black;
    padding-bottom: 29px;
}

.info-item-desc {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #9D9D9D;
    padding-bottom: 29px;
}

.info-icons {
    height: 36px;
    width: 36px;
    display: flex;
    text-align: center;
}

.info-icon {
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    background-color: #66BA02;
    margin-right: 23.75px;
    color: white;
    padding: 2px;
}

.info-learn {
    font-size: 14px;
    line-height: 17px;
    color: #9D9D9D;
    margin-left: 350px;
    text-transform: lowercase;
}

.more {
    text-align: center;
}

.more a {
    display: inline-block;
    background: #66BA02;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 97px;
    margin-bottom: 191px;
}

.footer {
    background: url("../images/Footer img.png") no-repeat bottom center/cover;
    margin: 15px 0 0;
    padding: 51px 0 17px;
}

.footer-logo {
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 465px;
    display: flex;
}

.left-side a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    padding-right: 80px;
}

.right-side {
    display: flex;
}

.right-side a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    padding-left: 80px;
}

.footer-copyright {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #808080;
    padding-top: 15px;
    font-weight: 400;
}